/*! HTML5 Boilerplate v7.3.0 | MIT License | https://html5boilerplate.com/ */

/* main.css 2.0.0 | MIT License | https://github.com/h5bp/main.css#readme */
/*
 * What follows is the result of much research on cross-browser styling.
 * Credit left inline and big thanks to Nicolas Gallagher, Jonathan Neal,
 * Kroc Camen, and the H5BP dev community and team.
 */

/* ==========================================================================
   Base styles: opinionated defaults
   ========================================================================== */

   html {
  color: #222;
  background-color: #FFF;
  font-size: 1em;
  line-height: 1.4;
}

/*
 * Remove text-shadow in selection highlight:
 * https://twitter.com/miketaylr/status/12228805301
 *
 * Vendor-prefixed and regular ::selection selectors cannot be combined:
 * https://stackoverflow.com/a/16982510/7133471
 *
 * Customize the background color to match your design.
 */

::-moz-selection {
  background: #b3d4fc;
  text-shadow: none;
}

::selection {
  background: #b3d4fc;
  text-shadow: none;
}

/*
 * A better looking default horizontal rule
 */

hr {
  display: block;
  height: 1px;
  border: 0;
  border-top: 1px solid #ccc;
  margin: 1em 0;
  padding: 0;
}

/*
 * Remove the gap between audio, canvas, iframes,
 * images, videos and the bottom of their containers:
 * https://github.com/h5bp/html5-boilerplate/issues/440
 */

audio,
canvas,
iframe,
img,
svg,
video {
  vertical-align: middle;
}

/*
 * Remove default fieldset styles.
 */

fieldset {
  border: 0;
  margin: 0;
  padding: 0;
}

/*
 * Allow only vertical resizing of textareas.
 */

textarea {
  resize: vertical;
}

/* ==========================================================================
   Browser Upgrade Prompt
   ========================================================================== */

.browserupgrade {
  margin: 0.2em 0;
  background: #ccc;
  color: #000;
  padding: 0.2em 0;
}

/* ==========================================================================
   Author's custom styles
   ========================================================================== */

/* ==========================================================================
   Helper classes
   ========================================================================== */

/*
 * Hide visually and from screen readers
 */

.hidden {
  display: none !important;
}

/*
* Hide only visually, but have it available for screen readers:
* https://snook.ca/archives/html_and_css/hiding-content-for-accessibility
*
* 1. For long content, line feeds are not interpreted as spaces and small width
*    causes content to wrap 1 word per line:
*    https://medium.com/@jessebeach/beware-smushed-off-screen-accessible-text-5952a4c2cbfe
*/

.sr-only {
  border: 0;
  clip: rect(0, 0, 0, 0);
  height: 1px;
  margin: -1px;
  overflow: hidden;
  padding: 0;
  position: absolute;
  white-space: nowrap;
  width: 1px;
  /* 1 */
}

/*
* Extends the .sr-only class to allow the element
* to be focusable when navigated to via the keyboard:
* https://www.drupal.org/node/897638
*/

.sr-only.focusable:active,
.sr-only.focusable:focus {
  clip: auto;
  height: auto;
  margin: 0;
  overflow: visible;
  position: static;
  white-space: inherit;
  width: auto;
}

/*
* Hide visually and from screen readers, but maintain layout
*/

.invisible {
  visibility: hidden;
}

/*
* Clearfix: contain floats
*
* For modern browsers
* 1. The space content is one way to avoid an Opera bug when the
*    `contenteditable` attribute is included anywhere else in the document.
*    Otherwise it causes space to appear at the top and bottom of elements
*    that receive the `clearfix` class.
* 2. The use of `table` rather than `block` is only necessary if using
*    `:before` to contain the top-margins of child elements.
*/

.clearfix:before,
.clearfix:after {
  content: " ";
  /* 1 */
  display: table;
  /* 2 */
}

.clearfix:after {
  clear: both;
}

/* ==========================================================================
   EXAMPLE Media Queries for Responsive Design.
   These examples override the primary ('mobile first') styles.
   Modify as content requires.
   ========================================================================== */

@media only screen and (min-width: 35em) {
  /* Style adjustments for viewports that meet the condition */
}

@media print,
(-webkit-min-device-pixel-ratio: 1.25),
(min-resolution: 1.25dppx),
(min-resolution: 120dpi) {
  /* Style adjustments for high resolution devices */
}

/* ==========================================================================
   Print styles.
   Inlined to avoid the additional HTTP request:
   https://www.phpied.com/delay-loading-your-print-css/
   ========================================================================== */

@media print {

  *,
  *:before,
  *:after {
    background: transparent !important;
    color: #000 !important;
    /* Black prints faster */
    box-shadow: none !important;
    text-shadow: none !important;
  }

  a,
  a:visited {
    text-decoration: underline;
  }

  a[href]:after {
    content: " ("attr(href) ")";
  }

  abbr[title]:after {
    content: " ("attr(title) ")";
  }

  /*
     * Don't show links that are fragment identifiers,
     * or use the `javascript:` pseudo protocol
     */
  a[href^="#"]:after,
  a[href^="javascript:"]:after {
    content: "";
  }

  pre {
    white-space: pre-wrap !important;
  }

  pre,
  blockquote {
    border: 1px solid #999;
    page-break-inside: avoid;
  }

  /*
     * Printing Tables:
     * https://web.archive.org/web/20180815150934/http://css-discuss.incutio.com/wiki/Printing_Tables
     */
  thead {
    display: table-header-group;
  }

  tr,
  img {
    page-break-inside: avoid;
  }

  p,
  h2,
  h3 {
    orphans: 3;
    widows: 3;
  }

  h2,
  h3 {
    page-break-after: avoid;
  }
}

button:focus {
  outline: none
}

#home-section {
  height: 100vh;
}

#about-section {
  padding-top: 10vh;
}

#app-section {
  padding-top: 10vh;
}

#footer-section {
  height: 50px;
  line-height: 50px;
  background-color: #12161f;
  font-size: 12px;
  color: #4C4C4C;
}

#toggle-demo-menu {
  display: none;
}

#start-demo-small {
  opacity: 0;
  visibility: hidden;
}

#start-demo {
  opacity: 0;
  visibility: hidden;
}

.border-1-bottom {
  border-bottom-width: 1px;
  border-color: rgba(0, 0, 0, 0.15);
}

.section-container {
  min-height: 100vh;
  overflow: hidden;
  position: relative;
}

.section-container-footer {
  min-height: 100px;
  overflow: hidden;
  position: relative;
}

.item-full-height {
  height: 100%;
  padding-top: 6rem;
}

.item-full {
  height: 100%;
  width: 100%;
}

svg {
  height: 100%;
  width: 100%;
}

.nav-container {
  z-index: 1000;
  display: flex;
  background-color: #1b1b1b;
}

.nav-container .container {
  display: flex;
}

.nav-background-container {
  background-color: rgba(111, 195, 232, 0);
  width: 100%;
  height: 100%;
  position: absolute;
  z-index: -1;
}

.nav-background {
  background-color: rgba(111, 195, 232, 0);
  width: 100%;
  height: 100%;
  position: absolute;
}

#nav-clear {
  background-color: rgba(111, 195, 232, 0);
  z-index: 3;
}

#nav-blue {
  background-color: rgba(111, 195, 232, 0);
  z-index: 2;
}

#nav-black {
  z-index: 1;
}

.nav-black-off {
  background-color: rgba(22, 22, 22, 0);
  transition: all .05s ease-out;
}

.nav-black-on {
  background-color: rgba(22, 22, 22, 1);
  transition: all .05s ease-out;
}

.master-gradient {
  background: #FFF;
  background: -webkit-linear-gradient(to bottom, #465384, #c77189);
  background: linear-gradient(to bottom, #465384, #c77189);
}

.hero-title-size {
  font-size: 2vh;
  position: absolute;
  color: white;
  font-weight: 900;
  background-color: #00bcd426;
  padding-left: 1rem;
  padding-right: 1rem;
  padding-top: 2rem;
  border-radius: .25rem;
}

.divider-1 {
  border-bottom: 1px solid #b6e4f9;
  background-color: #DADADA;
  height: 1px;
  margin: 0.5em 0px 1.5em;
}

.divider-1 span {
  display: block;
  width: 50px;
  height: 1px;
  background-color: #F60;
}

html {
  font-size: 17px;
}

@media (max-width: 900px) {
  html {
    font-size: 15px;
  }
}

@media (max-width: 400px) {
  html {
    font-size: 13px;
  }
}

h1,
h2,
h3,
h4,
h5,
p {
  margin: 0;
  padding: 0;
}

.billboard {
  font-size: 3.998em;
}

h1 {
  font-size: 1.999em;
}

h2 {
  font-size: 1.414em;
}

h3 {
  font-size: 1em;
}

h4 {
  font-size: 0.9em;
}

h5 {
  font-size: 0.85em;
  font-weight: 600;
}

p {
  font-size: 1em;
}

.sub-paragraph {
  font-size: 0.707em;
}

.fine-print {
  font-size: 0.5em;
}

.micro-print {
  font-size: 0.354em;
}

.s-content-img {
  height: 300px;
  overflow: hidden;
}

.square {
  position: relative;
}

.square:after {
  content: "";
  display: block;
  padding-bottom: 100%;
}

.s-content {
  position: absolute;
  width: 100%;
  height: 100%;
}

:focus {
  outline: 0;
}

.video-container {
  height: 100%;
  width: 100%;
  padding-top: 70px;
}

.inline-a {
  text-decoration: underline;
  color: #1976d2;
}
.inline-a:hover {
  text-decoration: underline;
  color: #2196f3;
}
.inline-a:visited {
  text-decoration: underline;
  color: #03a9f4;;
}