---
// Component:
// About section

import Divider from "../components/Divider.astro";
---

<!-- About -->
<div id="about-section" class="container mx-auto p-8 pt-24 md:pt-36 pb-12">
  <!-- About StateSong -->
  <p
    class="text-gray-600 text-lg md:text-2xl leading-none font-montserrat pb-4 md:pb-6 font-bold"
  >
    About StateSong Technology
  </p>
  <p class="text-gray-700 text-base font-montserrat mt-2">
    StateSong is a patented technology that converts biological data into
    Endogenous music (from the inside). The idea? Capture the data from and
    transcode a musical rendition of a state, say calm or focused. Then, replay
    that music to guide you into that state. Using StateSong as a biofeedback
    tool, we can ‘entrain’ our minds and bodies towards deeper states of calm,
    focus, sleep, exercise, even happiness. (See StateSong,
    <a
      class="text-cyan-700 underline"
      href="./static/media/The_Big_Picture.pdf"
      target="_blank"
    >
      The Big Picture.pdf
    </a>
    )
  </p>

  <Divider styles="pt-12 pb-12" />

  <!-- About StateSong - Details -->
  <div class="container flex flex-row flex-wrap w-full font-montserrat">
    <div class="flex flex-col w-full md:w-1/3 p-4 pt-0 md:pt-4 pb-6 md:pb-0">
      <div class="pb-6 md:pb-8">
        <img
          class="object-cover w-full"
          src="./static/img/GetAppLink.jpg"
          alt="StateSong App"
        />
      </div>
      <p class="text-gray-600 text-lg font-bold pb-2 md:pb-4">
        Apps, APIs & Cloud
      </p>
      <p class="text-gray-700">
        StateSong will allow YOU to capture data from your biometric devices and
        transform it into music that represents YOUR states of emotion, mind,
        and body. StateSong APIs and Libraries let you to build Apps and UI/UXs.
        The Cloud Platform will empower you to create and share music that is
        'endogenously' YOU.
      </p>
    </div>
    <div class="flex flex-col w-full md:w-1/3 p-4">
      <div class="pb-6 md:pb-8">
        <img
          class="object-cover w-full h-full"
          src="./static/img/HealthSportsMusic.jpg"
          alt="StateSong for Wellness, Sports and Music"
        />
      </div>
      <p class="text-gray-600 text-lg font-bold pb-2 md:pb-4">
        Health, Sports & Music
      </p>
      <ul class="list-disc pl-4 pr-0">
        <li class="text-gray-700 text-base">
          PTSD suffer, Ron, listens to his CalmSong to reduce anxiety and stay
          calm.
        </li>
        <li class="text-gray-700 text-base">
          Pat, a distance runner, recorded her 2ndWindSong to get her there
          sooner and stay in it longer.
        </li>
        <li class="text-gray-700 text-base">
          Jen uses StateSong to make music for movie & TV scores with a plugin
          that imports biometric data.
        </li>
      </ul>
    </div>
    <div class="flex flex-col w-full md:w-1/3 p-4">
      <div class="pb-6 md:pb-8">
        <img
          class="object-cover w-full h-full"
          src="./static/img/PianoRoll.jpg"
          alt="OpenSource Development"
        />
      </div>
      <p class="text-gray-600 text-lg font-bold pb-2 md:pb-4">
        Open Source Community
      </p>
      <p class="text-gray-700">
        MediMuse™ is excited to offer OpenSource access for techies and
        creatives to envision and develop apps, UIs, plugins, processors,
        algorithms, and devices that leverage the power and flexibility of
        StateSong's Core Technology. If StateSong tech resonates with you, join
        the MediMuse Community <a
          class="text-cyan-700 underline"
          href="mailto:info@medimuse.net?subject=Mail from Our Site"
        >
          here
        </a>
        and we’ll contact you about getting started creating Endogenous Music!
      </p>
    </div>
  </div>

  <Divider styles="pt-12 pb-12" />

  <!-- About MediMuse -->
  <p
    class="text-gray-600 text-lg md:text-2xl leading-none font-montserrat pb-4 md:pb-6 font-bold"
  >
    About MediMuse LLC
  </p>
  <p class="text-gray-700 text-base font-montserrat mt-2">
    MediMuse merges biometric data from your smart devices with audio tools,
    allowing you to create, listen, and share Music created from YOUR body.
  </p>
  <p class="text-gray-700 text-base font-montserrat mt-2">
    MediMuse brings tgether biometric data from your smart devices with audio
    tools, allowing you to create, listen, and share ‘Endogenous Music’ created
    from YOUR body. MediMuse is delivering what may be the most profoundly
    impacting biofeedback system and audio tools developed to date. MediMuse's
    StateSong® technology converts YOUR body's data, while in different states
    and activities, into music (i.e. relaxed, aware, 2nd wind, walk, etc), then
    when listened to, ‘entrains’ YOUR body towards those states.
  </p>
</div>

<!-- End About -->
