---
// Click button, get confetti!
// Styled by Tailwind :)
---

<button
    class="py-2 px-4 bg-red-500 text-white shadow-md hover:bg-red-700 focus:outline-none focus:ring-2 focus:ring-red-400 focus:ring-opacity-10"
>
    <slot />
</button>
