---
// Component:
// Contact section

import Divider from "../components/Divider.astro";
---

<!-- Contact -->
<div id="contact-section" class="w-screen bg-gray-900 section-container">
    <div class="container box-border mx-auto item-full-height">
        <!-- Contact content -->
        <div class="flex flex-col md:items-center">
            <!-- Contanct title -->
            <div class="flex flex-row items-stretch px-6 py-12">
                <h1 class="text-gray-400">Contact MediMuse</h1>
            </div>

            <!-- Contact items -->
            <div class="flex flex-col md:flex-row">
                <!-- Contact item 1 -->
                <div class="flex-1 px-4 py-2 m-2">
                    <div class="px-6 py-4">
                        <h1 class="text-gray-400 text-l mb-2">
                            Robert Joseph: Business
                        </h1>
                        <p class="text-gray-400 text-base">
                            rjoseph@medimuse.net
                        </p>
                    </div>
                </div>
                <!-- Contact item 2 -->
                <div class="flex-1 px-4 py-2 m-2">
                    <div class="px-6 py-4">
                        <h1 class="text-gray-400 text-l mb-2">
                            Peter J. Slack: Technology
                        </h1>
                        <p class="text-gray-400 text-base">
                            pslack@medimuse.net
                        </p>
                    </div>
                </div>
                <!-- Contact item 3 -->
                <div class="flex-1 px-4 py-2 m-2">
                    <div class="px-6 py-4">
                        <h1 class="text-gray-400 text-l mb-2">
                            Our Community: Join the Collective
                        </h1>
                        <p class="text-gray-400 text-base">
                            community@medimuse.net
                        </p>
                    </div>
                </div>
            </div>
            <!-- End Contact items -->
        </div>
        <!-- End Contact content -->
    </div>
</div>
<!-- End Contact -->