---
// Component:
// Divider component
// Use - for laouts to seperate items
const { styles } = Astro.props;
---

<div class={styles}>
    <div class="relative border-b border-cyan-800 border-opacity-25">
        <span class="relative top-px block w-12 h-px bg-orange-400"></span>
    </div>
</div>
