---
// Component:
// FOOTER
---

<!-- Footer -->
<div id="footer-section" class="w-screen px-6">
    <div class="container box-border">
        <p>COPYRIGHT © 2020 MEDIMUSE LLC - Terms - Privacy</p>
    </div>
</div>
