---
// Component:
// FOOTER
---

<!-- Footer -->
<div class="flex w-full bg-slate-300">
    <div class="container mx-auto text-xs p-2">
        <p>Copyright - © 2020-2022 MEDIMUSE LLC</p>
    </div>
</div>
