---
// Component:
// Navigation section
---

<!-- Site Navigation -->
<nav class="fixed w-full h-12 md:h-16 bg-neutral-900 z-50">
    <div class="container flex flex-row w-full mx-auto h-full items-center">
        <p class="ml-3 md:ml-6 text-xl text-gray-200">MEDIMUSE</p>
        <div class="ml-3 md:ml-6">
            <a
                href="#about-section"
                class="mr-2 md:mr-4 text-sm md:text-base text-gray-400 hover:text-white"
            >
                About
            </a>
            <a
                href="#app-section"
                class="mr-2 md:mr-4 text-sm md:text-base text-gray-400 hover:text-white"
            >
                StateSong
            </a>
            <a
                href="#contact-section"
                class="text-sm md:text-base text-gray-400 hover:text-white"
            >
                Contact
            </a>
        </div>
    </div>
</nav>
