---
// Component:
// StateSong section

import Icon from "./Icon.astro";
import Divider from "../components/Divider.astro";
---

<!-- StateSong -->
<div id="app-section" class="bg-gray-200">
  <div class="container mx-auto p-8 pt-24 md:pt-36 pb-24">
    <p
      class="text-gray-600 text-lg md:text-2xl leading-none font-montserrat pb-4 md:pb-6 font-bold"
    >
      StateSong Samples
    </p>
    <p class="text-gray-700 text-base font-montserrat mt-2 pb-2">
      Click on the following activities and states to hear sample StateSongs:
    </p>
    <div class="flex flex-row flex-wrap pt-4 pl-4 pr-0 text-cyan-700">
      <div class="m-1 inline-flex flex-row bg-white rounded p-2 items-center">
        <div
          id="audio_1"
          class="cursor-pointer w-8 h-8 p-2 mr-2 bg-green-500 text-zinc-50 rounded"
        >
          <Icon icon="IconPlay" class="block" />
          <Icon icon="IconStop" class="hidden" />
        </div>
        <a
          class="underline"
          href="./static/media/samples/at_peace.mp3"
          target="_blank">Meditating</a
        >
      </div>

      <div class="m-1 inline-flex flex-row bg-white rounded p-2 items-center">
        <div
          id="audio_2"
          class="cursor-pointer w-8 h-8 p-2 mr-2 bg-green-500 text-zinc-50 rounded"
        >
          <Icon icon="IconPlay" class="block" />
          <Icon icon="IconStop" class="hidden" />
        </div>
        <a
          class="underline"
          href="./static/media/samples/out_2_run.mp3"
          target="_blank">running</a
        >
      </div>

      <div class="m-1 inline-flex flex-row bg-white rounded p-2 items-center">
        <div
          id="audio_3"
          class="cursor-pointer w-8 h-8 p-2 mr-2 bg-green-500 text-zinc-50 rounded"
        >
          <Icon icon="IconPlay" class="block" />
          <Icon icon="IconStop" class="hidden" />
        </div>
        <a
          class="underline"
          href="./static/media/samples/TV_Spies.mp3"
          target="_blank">watching TV</a
        >
      </div>

      <div class="m-1 inline-flex flex-row bg-white rounded p-2 items-center">
        <div
          id="audio_4"
          class="cursor-pointer w-8 h-8 p-2 mr-2 bg-green-500 text-zinc-50 rounded"
        >
          <Icon icon="IconPlay" class="block" />
          <Icon icon="IconStop" class="hidden" />
        </div>
        <a
          class="underline"
          href="./static/media/samples/heavy_thinking.mp3"
          target="_blank">studying</a
        >
      </div>

      <div class="m-1 inline-flex flex-row bg-white rounded p-2 items-center">
        <div
          id="audio_5"
          class="cursor-pointer w-8 h-8 p-2 mr-2 bg-green-500 text-zinc-50 rounded"
        >
          <Icon icon="IconPlay" class="block" />
          <Icon icon="IconStop" class="hidden" />
        </div>
        <a
          class="underline"
          href="./static/media/samples/heavy_thinking.mp3"
          target="_blank">day dreaming</a
        >
      </div>

      <div class="m-1 inline-flex flex-row bg-white rounded p-2 items-center">
        <div
          id="audio_6"
          class="cursor-pointer w-8 h-8 p-2 mr-2 bg-green-500 text-zinc-50 rounded"
        >
          <Icon icon="IconPlay" class="block" />
          <Icon icon="IconStop" class="hidden" />
        </div>
        <a
          class="underline"
          href="./static/media/samples/working.mp3"
          target="_blank">gardening</a
        >
      </div>

      <div class="m-1 inline-flex flex-row bg-white rounded p-2 items-center">
        <div
          id="audio_7"
          class="cursor-pointer w-8 h-8 p-2 mr-2 bg-green-500 text-zinc-50 rounded"
        >
          <Icon icon="IconPlay" class="block" />
          <Icon icon="IconStop" class="hidden" />
        </div>
        <a
          class="underline"
          href="./static/media/samples/explore.mp3"
          target="_blank">exploring</a
        >
      </div>

      <div class="m-1 inline-flex flex-row bg-white rounded p-2 items-center">
        <div
          id="audio_8"
          class="cursor-pointer w-8 h-8 p-2 mr-2 bg-green-500 text-zinc-50 rounded"
        >
          <Icon icon="IconPlay" class="block" />
          <Icon icon="IconStop" class="hidden" />
        </div>
        <a
          class="underline"
          href="./static/media/samples/weirdness.mp3"
          target="_blank">funny moods</a
        >
      </div>
    </div>
    <p class="text-gray-700 text-base font-montserrat pt-6">
      These samples were converted from biometric data to music using the
      Statesong app. Now you can hear what YOUR states, moods and activities
      sound like.
    </p>

    <Divider styles="pt-12 pb-12" />

    <p
      class="text-gray-600 text-lg md:text-2xl leading-none font-montserrat pb-4 md:pb-6 font-bold"
    >
      StateSong News
    </p>
    <p class="text-gray-700 text-base font-montserrat mt-2">
      Click on the following activities and states to hear sample StateSongs:
    </p>
    <p class="text-gray-700 text-base mt-4 mb-8">
      Empatica Blog:
      <a
        class="text-cyan-700 underline"
        href="https://www.empatica.com/blog/statesong-converting-human-data-to-music-using-the-e4.html"
        target="_blank"
      >
        Converting Human Data to Music Using the E4
      </a>
      "... StateSong, which in combination with the E4, records and converts biometric
      data from the wrist as music to help improve peoples' states over time." -
      <a
        class="text-cyan-700 underline"
        href="https://www.empatica.com/"
        target="_blank"
      >
        Empatica
      </a>, creator of the
      <a
        class="text-cyan-700 underline"
        href="https://www.empatica.com/research/e4/"
        target="_blank"
      >
        E4
      </a>, a R&D/Medical grade 5 biometric wrist device,
    </p>

    <Divider styles="pt-12 pb-12" />

    <p
      class="text-gray-600 text-lg md:text-2xl leading-none font-montserrat pb-4 md:pb-6 font-bold"
    >
      StateSong Downloads
    </p>
    <p class="text-gray-700 text-base font-montserrat mt-2">
      LISTEN! You're Made of Music!!! StateSong apps lets you hear your 'states'
      as music. As you listen to YOUR StateSongs, you are synchronized with your
      best states. Download the
      <a
        class="text-cyan-700 underline"
        href="https://play.google.com/store/apps/details?id=medimuse.com.statesong"
        target="_blank"
      >
        StateSong Beta (Google Play)
      </a>
      &
      <a
        class="text-cyan-700 underline"
        href="./static/media/StateSongManual.pdf"
        target="_blank"
      >
        StateSong User Guide
      </a>.
    </p>

    <Divider styles="pt-12 pb-12" />

    <p
      class="text-gray-600 text-lg md:text-2xl leading-none font-montserrat pb-4 md:pb-6 font-bold"
    >
      StateSong Cloud Platform
    </p>
    <p class="text-gray-700 text-base font-montserrat mt-2">
      Create & Share StateSongs on the StateSong Cloud. More coming soon!!
    </p>

    <Divider styles="pt-12 pb-12" />

    <p
      class="text-gray-600 text-lg md:text-2xl leading-none font-montserrat pb-4 md:pb-6 font-bold"
    >
      StateSong SDK, APIs
    </p>
    <p class="text-gray-700 text-base font-montserrat mt-2">
      Our SDK provides licensed access to a toolkit of libraries, apis, and
      plugins so you can leverage the power of the StateSong core technology.
    </p>

    <Divider styles="pt-12 pb-12" />

    <p
      class="text-gray-600 text-lg md:text-2xl leading-none font-montserrat pb-4 md:pb-6 font-bold"
    >
      StateSong OpenSource UI
    </p>
    <p class="text-gray-700 text-base font-montserrat mt-2">
      MediMuse provides OpenSource access to StateSong technology so YOU can
      development UIs and apps for health & wellness, sports, and music
      production.
    </p>

    <Divider styles="pt-12 pb-12" />

    <p
      class="text-gray-600 text-lg md:text-2xl leading-none font-montserrat pb-4 md:pb-6 font-bold"
    >
      StateSong Community
    </p>
    <p class="text-gray-700 text-base font-montserrat mt-2">
      If the intent and opportunities of StateSong Technology resonates with
      you, tell us about yourself in an email to community@medimuse.net.
    </p>
  </div>
</div>

<script>
  // Rough sample player using HowlJS
  // TODO: export this as an astro component
  import { Howl, Howler } from "howler";

  // Vars
  let player = null;
  let isPlayingId = -1;

  // Data
  // Note: title not used, just for visual ref.
  const audioObject = [
    {
      title: "Meditating",
      file: "./static/media/samples/at_peace.mp3",
      ele: document.getElementById("audio_1"),
    },
    {
      title: "Running",
      file: "./static/media/samples/out_2_run.mp3",
      ele: document.getElementById("audio_2"),
    },
    {
      title: "Watching TV",
      file: "./static/media/samples/TV_Spies.mp3",
      ele: document.getElementById("audio_3"),
    },
    {
      title: "Studying",
      file: "./static/media/samples/heavy_thinking.mp3",
      ele: document.getElementById("audio_4"),
    },
    {
      title: "Day Dreaming",
      file: "./static/media/samples/heavy_thinking.mp3",
      ele: document.getElementById("audio_5"),
    },
    {
      title: "Gardening",
      file: "./static/media/samples/working.mp3",
      ele: document.getElementById("audio_6"),
    },
    {
      title: "Exploring",
      file: "./static/media/samples/explore.mp3",
      ele: document.getElementById("audio_7"),
    },
    {
      title: "Funny Moods",
      file: "./static/media/samples/weirdness.mp3",
      ele: document.getElementById("audio_8"),
    },
  ];

  // Base handler for player clicks
  const audioClickHandler = function (audioId = 0) {
    // stop audio playing
    if (audioId === isPlayingId) {
      player.unload();
      togglePlayerStyle(isPlayingId);
      isPlayingId = -1;
      return;
    }
    // stop and play new audio
    if (audioId !== isPlayingId && isPlayingId !== -1) {
      player.unload();
      togglePlayerStyle(isPlayingId);
      isPlayingId = -1;
      loadAudio(audioId);
      return;
    }
    // play audio
    if (isPlayingId === -1) {
      loadAudio(audioId);
    }
  };

  const togglePlayerStyle = function (audioId = 0) {
    audioObject[audioId].ele.classList.toggle("bg-red-500");
    for (const child of audioObject[audioId].ele.children) {
      child.classList.toggle("hidden");
    }
  };

  const loadAudio = function (audioId = 0) {
    player = new Howl({
      src: [audioObject[audioId].file],
      html5: true,
      autoplay: false,
      onend: function () {
        player.unload();
        togglePlayerStyle(isPlayingId);
        isPlayingId = -1;
      },
    });
    isPlayingId = audioId;
    togglePlayerStyle(audioId);
    player.play();
  };

  audioObject.map(function (element, index) {
    element.ele.addEventListener("click", (e) => {
      e.preventDefault();
      audioClickHandler(index);
    });
  });
</script>
