---
// Component:
// StateSong section
// Latest samples and order dec 2022
// Into Sleep, Into Hot Water, Out To Run, Cool Down, Going Somewhere, Good Afternoon, Good Morning, Waking Dream, Weight Lift
// running, watching TV, studying, day dreaming, gardening, exploring & funny moods.

import Icon from "./Icon.astro";
import Divider from "../components/Divider.astro";
---

<!-- StateSong -->
<div id="app-section" class="bg-gray-200">
  <div class="container mx-auto p-8 pt-24 md:pt-36 pb-24">
    <p
      class="text-gray-600 text-lg md:text-2xl leading-none font-montserrat pb-4 md:pb-6 font-bold"
    >
      StateSong Samples
    </p>
    <p class="text-gray-700 text-base font-montserrat mt-2 pb-2">
      Click on the following links to hear sample StateSongs:
    </p>
    <div class="flex flex-row flex-wrap pt-4 pl-4 pr-0 text-cyan-700">
      <div class="m-1 inline-flex flex-row bg-white rounded p-2 items-center">
        <div
          id="audio_1"
          class="cursor-pointer w-8 h-8 p-2 mr-2 bg-green-500 text-zinc-50 rounded"
        >
          <Icon icon="IconPlay" class="block" />
          <Icon icon="IconStop" class="hidden" />
        </div>
        <a
          class="underline"
          href="./static/media/audio/Into_Sleep.mp3"
          target="_blank">Into Sleep</a
        >
      </div>

      <div class="m-1 inline-flex flex-row bg-white rounded p-2 items-center">
        <div
          id="audio_2"
          class="cursor-pointer w-8 h-8 p-2 mr-2 bg-green-500 text-zinc-50 rounded"
        >
          <Icon icon="IconPlay" class="block" />
          <Icon icon="IconStop" class="hidden" />
        </div>
        <a
          class="underline"
          href="./static/media/audio/Into_Hot_Water.mp3"
          target="_blank">Into Hot Water</a
        >
      </div>

      <div class="m-1 inline-flex flex-row bg-white rounded p-2 items-center">
        <div
          id="audio_3"
          class="cursor-pointer w-8 h-8 p-2 mr-2 bg-green-500 text-zinc-50 rounded"
        >
          <Icon icon="IconPlay" class="block" />
          <Icon icon="IconStop" class="hidden" />
        </div>
        <a
          class="underline"
          href="./static/media/audio/Out_To_Run.mp3"
          target="_blank">Out To Run</a
        >
      </div>

      <div class="m-1 inline-flex flex-row bg-white rounded p-2 items-center">
        <div
          id="audio_4"
          class="cursor-pointer w-8 h-8 p-2 mr-2 bg-green-500 text-zinc-50 rounded"
        >
          <Icon icon="IconPlay" class="block" />
          <Icon icon="IconStop" class="hidden" />
        </div>
        <a
          class="underline"
          href="./static/media/audio/Cool_Down.mp3"
          target="_blank">Cool Down</a
        >
      </div>

      <div class="m-1 inline-flex flex-row bg-white rounded p-2 items-center">
        <div
          id="audio_5"
          class="cursor-pointer w-8 h-8 p-2 mr-2 bg-green-500 text-zinc-50 rounded"
        >
          <Icon icon="IconPlay" class="block" />
          <Icon icon="IconStop" class="hidden" />
        </div>
        <a
          class="underline"
          href="./static/media/audio/Going_Somewhere.mp3"
          target="_blank">Going Somewhere</a
        >
      </div>

      <div class="m-1 inline-flex flex-row bg-white rounded p-2 items-center">
        <div
          id="audio_6"
          class="cursor-pointer w-8 h-8 p-2 mr-2 bg-green-500 text-zinc-50 rounded"
        >
          <Icon icon="IconPlay" class="block" />
          <Icon icon="IconStop" class="hidden" />
        </div>
        <a
          class="underline"
          href="./static/media/audio/Good_Afternoon.mp3"
          target="_blank">Good Afternoon</a
        >
      </div>

      <div class="m-1 inline-flex flex-row bg-white rounded p-2 items-center">
        <div
          id="audio_7"
          class="cursor-pointer w-8 h-8 p-2 mr-2 bg-green-500 text-zinc-50 rounded"
        >
          <Icon icon="IconPlay" class="block" />
          <Icon icon="IconStop" class="hidden" />
        </div>
        <a
          class="underline"
          href="./static/media/audio/Good_Morning.mp3"
          target="_blank">Good Morning</a
        >
      </div>

      <div class="m-1 inline-flex flex-row bg-white rounded p-2 items-center">
        <div
          id="audio_8"
          class="cursor-pointer w-8 h-8 p-2 mr-2 bg-green-500 text-zinc-50 rounded"
        >
          <Icon icon="IconPlay" class="block" />
          <Icon icon="IconStop" class="hidden" />
        </div>
        <a
          class="underline"
          href="./static/media/audio/Waking_Dream.mp3"
          target="_blank">Waking Dream</a
        >
      </div>

      <div class="m-1 inline-flex flex-row bg-white rounded p-2 items-center">
        <div
          id="audio_9"
          class="cursor-pointer w-8 h-8 p-2 mr-2 bg-green-500 text-zinc-50 rounded"
        >
          <Icon icon="IconPlay" class="block" />
          <Icon icon="IconStop" class="hidden" />
        </div>
        <a
          class="underline"
          href="./static/media/audio/Weight_Lift.mp3"
          target="_blank">Weight Lift</a
        >
      </div>

      <div class="m-1 inline-flex flex-row bg-white rounded p-2 items-center">
        <div
          id="audio_10"
          class="cursor-pointer w-8 h-8 p-2 mr-2 bg-green-500 text-zinc-50 rounded"
        >
          <Icon icon="IconPlay" class="block" />
          <Icon icon="IconStop" class="hidden" />
        </div>
        <a
          class="underline"
          href="./static/media/audio/TV_Spies.mp3"
          target="_blank">Watching TV</a
        >
      </div>

      <div class="m-1 inline-flex flex-row bg-white rounded p-2 items-center">
        <div
          id="audio_11"
          class="cursor-pointer w-8 h-8 p-2 mr-2 bg-green-500 text-zinc-50 rounded"
        >
          <Icon icon="IconPlay" class="block" />
          <Icon icon="IconStop" class="hidden" />
        </div>
        <a
          class="underline"
          href="./static/media/audio/Heavy_Thinking.mp3"
          target="_blank">Studying</a
        >
      </div>

      <div class="m-1 inline-flex flex-row bg-white rounded p-2 items-center">
        <div
          id="audio_12"
          class="cursor-pointer w-8 h-8 p-2 mr-2 bg-green-500 text-zinc-50 rounded"
        >
          <Icon icon="IconPlay" class="block" />
          <Icon icon="IconStop" class="hidden" />
        </div>
        <a
          class="underline"
          href="./static/media/audio/Heavy_thinking.mp3"
          target="_blank">Day Dreaming</a
        >
      </div>

      <div class="m-1 inline-flex flex-row bg-white rounded p-2 items-center">
        <div
          id="audio_13"
          class="cursor-pointer w-8 h-8 p-2 mr-2 bg-green-500 text-zinc-50 rounded"
        >
          <Icon icon="IconPlay" class="block" />
          <Icon icon="IconStop" class="hidden" />
        </div>
        <a
          class="underline"
          href="./static/media/audio/Working.mp3"
          target="_blank">Gardening</a
        >
      </div>

      <div class="m-1 inline-flex flex-row bg-white rounded p-2 items-center">
        <div
          id="audio_14"
          class="cursor-pointer w-8 h-8 p-2 mr-2 bg-green-500 text-zinc-50 rounded"
        >
          <Icon icon="IconPlay" class="block" />
          <Icon icon="IconStop" class="hidden" />
        </div>
        <a
          class="underline"
          href="./static/media/audio/Explore.mp3"
          target="_blank">Exploring</a
        >
      </div>

      <div class="m-1 inline-flex flex-row bg-white rounded p-2 items-center">
        <div
          id="audio_15"
          class="cursor-pointer w-8 h-8 p-2 mr-2 bg-green-500 text-zinc-50 rounded"
        >
          <Icon icon="IconPlay" class="block" />
          <Icon icon="IconStop" class="hidden" />
        </div>
        <a
          class="underline"
          href="./static/media/audio/Weirdness.mp3"
          target="_blank">Funny Moods</a
        >
      </div>
    </div>
    <p class="text-gray-700 text-base font-montserrat pt-6">
      These samples were converted from biometric data to music using the
      Statesong app. Now you can hear what YOUR states, moods and activities
      sound like.
    </p>

    <Divider styles="pt-12 pb-12" />

    <p
      class="text-gray-600 text-lg md:text-2xl leading-none font-montserrat pb-4 md:pb-6 font-bold"
    >
      StateSong News
    </p>
    <p class="text-gray-700 text-base font-montserrat mt-2">
      Click on the following activities and states to hear sample StateSongs:
    </p>
    <p class="text-gray-700 text-base mt-4 mb-8">
      Empatica Blog:
      <a
        class="text-cyan-700 underline"
        href="https://www.empatica.com/blog/statesong-converting-human-data-to-music-using-the-e4.html"
        target="_blank"
      >
        Converting Human Data to Music Using the E4
      </a>
      "... StateSong, which in combination with the E4, records and converts biometric
      data from the wrist as music to help improve peoples' states over time." -
      <a
        class="text-cyan-700 underline"
        href="https://www.empatica.com/"
        target="_blank"
      >
        Empatica
      </a>, creator of the
      <a
        class="text-cyan-700 underline"
        href="https://www.empatica.com/research/e4/"
        target="_blank"
      >
        E4
      </a>, a R&D/Medical grade 5 biometric wrist device,
    </p>

    <Divider styles="pt-12 pb-12" />

    <p
      class="text-gray-600 text-lg md:text-2xl leading-none font-montserrat pb-4 md:pb-6 font-bold"
    >
      StateSong Downloads
    </p>
    <p class="text-gray-700 text-base font-montserrat mt-2">
      LISTEN! You're Made of Music!!! StateSong apps lets you hear your 'states'
      as music. As you listen to YOUR StateSongs, you are synchronized with your
      best states. Download the Android app:
      <a
        class="text-cyan-700 underline"
        href="https://play.google.com/store/apps/details?id=medimuse.com.statesong"
        target="_blank"
      >
        StateSong Beta (Google Play);
      </a>
      &
      <a
        class="text-cyan-700 underline"
        href="./static/media/StateSongManual.pdf"
        target="_blank"
      >
        StateSong User Guide
      </a>.
    </p>

    <Divider styles="pt-12 pb-12" />

    <p
      class="text-gray-600 text-lg md:text-2xl leading-none font-montserrat pb-4 md:pb-6 font-bold"
    >
      StateSong Cloud Platform
    </p>
    <p class="text-gray-700 text-base font-montserrat mt-2">
      Create & Share StateSongs on the StateSong Cloud. More coming soon!!
    </p>

    <Divider styles="pt-12 pb-12" />

    <p
      class="text-gray-600 text-lg md:text-2xl leading-none font-montserrat pb-4 md:pb-6 font-bold"
    >
      StateSong SDK, APIs
    </p>
    <p class="text-gray-700 text-base font-montserrat mt-2">
      Our SDK provides licensed access to a toolkit of libraries, apis, and
      plugins so you can leverage the power of the StateSong core technology.
    </p>

    <Divider styles="pt-12 pb-12" />

    <p
      class="text-gray-600 text-lg md:text-2xl leading-none font-montserrat pb-4 md:pb-6 font-bold"
    >
      StateSong OpenSource UI
    </p>
    <p class="text-gray-700 text-base font-montserrat mt-2">
      MediMuse provides OpenSource access to StateSong technology so YOU can
      development UIs and apps for health & wellness, sports, and music
      production.
    </p>

    <Divider styles="pt-12 pb-12" />

    <p
      class="text-gray-600 text-lg md:text-2xl leading-none font-montserrat pb-4 md:pb-6 font-bold"
    >
      StateSong Community
    </p>
    <p class="text-gray-700 text-base font-montserrat mt-2">
      If the intent and opportunities of StateSong Technology resonates with
      you, tell us about yourself in an email to community@medimuse.net.
    </p>
  </div>
</div>

<script>
  // Rough sample player using HowlJS
  // TODO: export this as an astro component
  import { Howl, Howler } from "howler";

  // Vars
  let player = null;
  let isPlayingId = -1;

  // Data
  // Note: title not used, just for visual ref.
  const audioObject = [
    {
      title: "Into Sleep",
      file: "./static/media/audio/Into_Sleep.mp3",
      ele: document.getElementById("audio_1"),
    },
    {
      title: "Into Hot Water",
      file: "./static/media/audio/Into_Hot_Water.mp3",
      ele: document.getElementById("audio_2"),
    },
    {
      title: "Out To Run",
      file: "./static/media/audio/Out_To_Run.mp3",
      ele: document.getElementById("audio_3"),
    },
    {
      title: "Cool Down",
      file: "./static/media/audio/Cool_Down.mp3",
      ele: document.getElementById("audio_4"),
    },
    {
      title: "Going Somewhere",
      file: "./static/media/audio/Going_Somewhere.mp3",
      ele: document.getElementById("audio_5"),
    },
    {
      title: "Good_Afternoon",
      file: "./static/media/audio/Good_Afternoon.mp3",
      ele: document.getElementById("audio_6"),
    },
    {
      title: "Good_Morning",
      file: "./static/media/audio/Good_Morning.mp3",
      ele: document.getElementById("audio_7"),
    },
    {
      title: "Waking Dream",
      file: "./static/media/audio/Waking_Dream.mp3",
      ele: document.getElementById("audio_8"),
    },
    {
      title: "Weight Lift",
      file: "./static/media/audio/Weight_Lift.mp3",
      ele: document.getElementById("audio_9"),
    },
    {
      title: "Watching TV",
      file: "./static/media/audio/TV_Spies.mp3",
      ele: document.getElementById("audio_10"),
    },
    {
      title: "Studying",
      file: "./static/media/audio/Heavy_Thinking.mp3",
      ele: document.getElementById("audio_11"),
    },
    {
      title: "Day Dreaming",
      file: "./static/media/audio/Heavy_Thinking.mp3",
      ele: document.getElementById("audio_12"),
    },
    {
      title: "Gardening",
      file: "./static/media/audio/Working.mp3",
      ele: document.getElementById("audio_13"),
    },
    {
      title: "Exploring",
      file: "./static/media/audio/Explore.mp3",
      ele: document.getElementById("audio_14"),
    },
    {
      title: "Funny Moods",
      file: "./static/media/audio/Weirdness.mp3",
      ele: document.getElementById("audio_15"),
    },
  ];

  // Base handler for player clicks
  const audioClickHandler = function (audioId = 0) {
    // stop audio playing
    if (audioId === isPlayingId) {
      player.unload();
      togglePlayerStyle(isPlayingId);
      isPlayingId = -1;
      return;
    }
    // stop and play new audio
    if (audioId !== isPlayingId && isPlayingId !== -1) {
      player.unload();
      togglePlayerStyle(isPlayingId);
      isPlayingId = -1;
      loadAudio(audioId);
      return;
    }
    // play audio
    if (isPlayingId === -1) {
      loadAudio(audioId);
    }
  };

  const togglePlayerStyle = function (audioId = 0) {
    audioObject[audioId].ele.classList.toggle("bg-red-500");
    for (const child of audioObject[audioId].ele.children) {
      child.classList.toggle("hidden");
    }
  };

  const loadAudio = function (audioId = 0) {
    player = new Howl({
      src: [audioObject[audioId].file],
      html5: true,
      autoplay: false,
      onend: function () {
        player.unload();
        togglePlayerStyle(isPlayingId);
        isPlayingId = -1;
      },
    });
    isPlayingId = audioId;
    togglePlayerStyle(audioId);
    player.play();
  };

  audioObject.map(function (element, index) {
    element.ele.addEventListener("click", (e) => {
      e.preventDefault();
      audioClickHandler(index);
    });
  });
</script>
