---
// PageTemplate for MEDIMUSE.net
import "@fontsource/montserrat/400.css";
import "@fontsource/montserrat/700.css";
const { title, description, themeColor } = Astro.props;
---

<!DOCTYPE html>
<html class="flex flex-col w-full h-full flex-grow no-js" lang="en">
  <head>
    <meta charset="utf-8" />
    <title>{title}</title>
    <meta name="description" content={description} />
    <meta name="viewport" content="width=device-width, initial-scale=1" />
    <meta name="theme-color" content={themeColor} />
  </head>

  <body class="flex flex-col flex-grow w-full min-h-screen bg-slate-100">
    <!--[if IE]>
      <p class="browserupgrade">
        You are using an <strong>outdated</strong> browser. Please
        <a href="https://browsehappy.com/">upgrade your browser</a> to improve
        your experience and security.
      </p>
		<![endif]-->
    <slot />

    <script src="./static/js/vendor/smooth-scroll.polyfills.min.js" is:inline
    ></script>
    <script src="./static/js/main.js" is:inline></script>
  </body>
</html>
